# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# NLTK data
nltk_data/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo